body.easyadmin img {
    max-width: 320px;
}

.vich-image a[download] ~ a[download] {
    box-shadow: inset 0 1px 0 0 #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

.vich-image a[download] ~ a[download]:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.vich-image a[download] ~ a[download]:active {
    position: relative;
    top: 1px;
}
