{% extends 'base.html.twig' %}

{% block title %}Cours n°{{ cours.id }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}
            {% embed "user/_card.html.twig" with {card_header:1} %}
                {% block header %}
                    <b>Gestion du cours n°{{ cours.id }}</b>
                {% endblock %}
                {% block text %}
                    <h5>
                        <u>{{ cours.matiere.intitule }} en {{ cours.salle.numero }}</u>
                    </h5>
                    animé par :
                    <b>{{ cours.professeur.prenom|capitalize }} {{ cours.professeur.nom|upper }}</b> au groupe {{ cours.groupe.nom|upper }}
                    <br>
                    <small><i>le {{ cours.debut ? cours.debut|date('d-m-Y') : '' }}</i></small><br>
                    <small>de {{ cours.debut ? cours.debut|date('H:i:s') : '' }}
                        à {{ cours.fin ? cours.fin|date('H:i:s') : '' }}</small>

                    {{ include('professeur/cours/_form.html.twig', {'button_label': 'Confirmer'}) }}

                    <a class="btn btn-warning mt-2" href="{{ path("prof_cours") }}">Retour aux cours & examens</a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}


