{% extends 'base.html.twig' %}

{% block title %}Cours & examens de {{ app.user.prenom|capitalize ~ " " ~ app.user.nom|upper }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}

            {% embed "user/_card.html.twig" with {card_header:1} %}
                {% block header %}<b>Cours & examens de {{ app.user.prenom|capitalize ~ " " ~ app.user.nom|upper }}</b>
                {% endblock %}
                {% block text %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Cours</th>
                                <th>Debut</th>
                                <th>Fin</th>
                                <th>Groupe</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in cours %}
                                <tr>
                                    <td>
                                        {% if is_exam(c) %}
                                            <span class="badge badge-danger">Examen</span>
                                            {{ c.matiere }}
                                        {% else %}
                                            {{ c }}
                                        {% endif %}
                                    </td>
                                    <td>{{ c.debut|date('H:i d/m/Y') }}</td>
                                    <td>{{ c.fin|date('H:i d/m/Y') }}</td>
                                    <td>{{ c.groupe }}</td>
                                    <td>
                                        {% if is_exam(c) %}
                                            <a href="{{ path("prof_exam_notes", {id: c.id}) }}">Notes</a>&nbsp;|&nbsp;
                                        {% else %}
                                            <a href="{{ path("prof_cours_edit", {id: c.id}) }}">Devoirs</a>&nbsp;|&nbsp;
                                        {% endif %}
                                        <a href="{{ path("prof_cours_absences", {id: c.id}) }}">Absences</a>&nbsp;|&nbsp;
                                        <a href="{{ path("cours_show", {id: c.id}) }}">Voir</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Pas de cours.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-warning" href="{{ path("personne_index") }}">Retourner à l'accueil</a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}



