<div id="{{ calendar_id|default("calendar-holder") }}"></div>
<button id="{{ calendar_id|default("calendar-holder") }}-btn" class="mt-2 btn btn-primary"><i class="fas fa-print"></i>
    Imprimer
</button>

{% block calendar_local_javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const calendarEl_{{ calendar_id|default("calendar-holder") }} = document.getElementById("{{ calendar_id|default("calendar-holder") }}");

            const calendar_{{ calendar_id|default("calendar-holder") }} = new FullCalendar.Calendar(calendarEl_{{ calendar_id|default("calendar-holder") }}, {
                height: 650,
                themeSystem: 'bootstrap',
                locale: "fr",
                editable: false,
                plugins: ['dayGrid', 'timeGrid', 'list', 'bootstrap'], // https://fullcalendar.io/docs/plugin-index
                defaultView: 'timeGridWeek',
                // buttonText: {
                //     today: "Aujourd'hui",
                //     month: 'Mois',
                //     week: 'Semaine',
                //     day: 'Jours',
                //     list: 'Liste'
                // },
                eventSources: [
                    {
                        url: "/fc-load-events",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            alert("Il y a eu une erreur au chargement du calendrier!");
                        },
                    },
                ],
                eventClick: function (info) {
                    console.log(info);
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'timeGridDay,timeGridWeek,dayGridMonth,listWeek',
                },
                timeZone: 'UTC+2',
            });
            calendar_{{ calendar_id|default("calendar-holder") }}.render();


            document.getElementById("{{ calendar_id|default("calendar-holder") }}-btn").addEventListener("click", () => {
                calendar_{{ calendar_id|default("calendar-holder") }}.changeView("listWeek");
                console.log("test")
                printJS({
                    printable: "{{ calendar_id|default("calendar-holder") }}",
                    type: 'html',
                    targetStyles: ['*'],
                    css: [
                        "https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.min.css",
                        "https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.min.css",
                        "https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid/main.min.css",
                        "https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap/main.min.css",
                        "https://cdn.jsdelivr.net/npm/@fullcalendar/list/main.min.css"
                    ]
                })
            });
        });

    </script>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales/fr.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/bootstrap@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/list@4.1.0/main.min.css">

{% endblock %}