{% extends 'base.html.twig' %}

{% block title %}Edit Cours{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Cours</h1>

        {{ include('admin/cours/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_cours_index') }}">back to list</a>

        {{ include('admin/cours/_delete_form.html.twig') }}
    </div>
{% endblock %}
