{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <div class="container">
        <div class="card card-body">
            <h1>Cours index</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Debut</th>
                    <th>Fin</th>
                    <th>Devoirs</th>
                    <th>Actif</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for cour in cours %}
                    <tr>
                        <td>{{ cour.id }}</td>
                        <td>{{ cour.debut ? cour.debut|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ cour.fin ? cour.fin|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ cour.devoirs }}</td>
                        <td>{{ cour.statut ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('admin_cours_show', {'id': cour.id}) }}">afficher</a>
                            <a href="{{ path('admin_cours_edit', {'id': cour.id}) }}">éditer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('admin_cours_new') }}">Créer un nouveau</a>
        </div>
    </div>
{% endblock %}
