{% extends 'base.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Cours</h1>

        {{ include('admin/cours/_form.html.twig') }}

        <a href="{{ path('admin_cours_index') }}">back to list</a>
    </div>
{% endblock %}
