{% extends 'base.html.twig' %}
{% set accordion_id = "accordion_admin_services" %}
{% set collapse_id = 1 %}

{% block title %}{{ parent() ~ " - " ~ title|default("Dashboard") }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" with {nav_bg:"bg-danger"} %}
        {% block nav_brand %}
            <span style="color: var(--red)">{{ parent() }}</span> <span
                class="text-muted">Dashboard de {{ app.user.username }}</span>
        {% endblock %}
        {% block nav_items %}
            {{ parent() }}
        {% endblock %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}
            {% embed "user/_card.html.twig" with {header:1} %}
                {% block header %}Services disponible{% endblock %}
                {% block text %}
                    <div class="accordion" id="{{ accordion_id }}">
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-users"></i> Gérer Utilisateurs
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-users-cog"></i> Gérer Groupes
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-brain"></i> Gérer Matières
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-chair"></i> Gérer Salles
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-chalkboard-teacher"></i> Gérer Cours | <a
                                    href="{{ path('admin_cours_index') }}">accéder</a>
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-syringe"></i> Gérer Absences
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-check"></i> Gérer Examens
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-percent"></i> Gérer Notes
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="far fa-newspaper"></i> Gérer Actualités
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="fas fa-graduation-cap"></i> Gérer Formations
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                        {% set collapse_id = collapse_id + 1 %}
                        {% embed "user/_collapse.html.twig" with {parent: accordion_id,id: collapse_id} %}
                            {% block button %}
                                <i class="far fa-file-alt"></i> Gérer Documents
                            {% endblock %}
                            {% block text %}
                            {% endblock %}
                        {% endembed %}
                    </div>
                {% endblock %}
            {% endembed %}
            <h2></h2>

        {% endblock %}
    {% endembed %}

{% endblock %}
