{% extends 'base.html.twig' %}

{% block title %}Création d'une note pour l'examen {{ examen }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}
            {% embed "user/_card.html.twig" with {card_header:1} %}
                {% block header %}<b>
                    Création d'une note pour l'examen {{ examen }}
                    </b>
                {% endblock %}
                {% block text %}
                    {{ include('professeur/note/_form.html.twig') }}

                    <a class="btn btn-warning mt-2" href="{{ path("prof_exam_notes", {id: examen.id}) }}">Retour
                        aux notes</a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}


