{% extends 'base.html.twig' %}

{% block title %}Paramètres de {{ app.user.prenom|capitalize }} {{ app.user.nom|upper }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}
            {% embed "user/_card.html.twig" with {card_header:1} %}
                {% block header %}<b>
                    Paramètres de {{ app.user.prenom|capitalize }} {{ app.user.nom|upper }}
                {% endblock %}
                {% block text %}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="flash-{{ label }} alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <h5>Mise à jour du mot de passe</h5>
                    {{ include('user/_reset_password.html.twig', {'button_label': 'Confirmer'}) }}
                    <hr>
                    {{ include('professeur/_form.html.twig', {'button_label': 'Confirmer'}) }}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}