{% extends 'base.html.twig' %}

{% block title %}Notes de {{ app.user.prenom|capitalize ~ " " ~ app.user.nom|upper }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}

            {% embed "user/_card.html.twig" with {card_header:1} %}
                {% block header %}<b>Notes de {{ app.user.prenom|capitalize ~ " " ~ app.user.nom|upper }}</b>
                {% endblock %}
                {% block text %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Matière</th>
                                <th>Professeur</th>
                                <th>Note</th>
                                <th>Coefficient</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td>{{ note.examen.matiere.intitule }}</td>
                                    <td>{{ note.examen.professeur.prenom|capitalize ~ " " ~ note.examen.professeur.nom|upper }}</td>
                                    <td>{{ note.note ~ " / " ~ note.examen.noteMax }}</td>
                                    <td>{{ note.examen.coefficient }}</td>
                                    <td><a href="{{ path("eleve_note", {id: note.id}) }}">Afficher note</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Pas de note</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr>
                    <h3>Moyennes</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Matière</th>
                                <th>Moyenne</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for matiere,moyenne in moyennes %}
                                <tr>
                                    <td>{{ matiere }}</td>
                                    <td>{{ moyenne|round(1, 'floor') }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Pas de moyennes</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-warning" href="{{ path("personne_index") }}">Retourner à l'accueil</a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}



