{% extends 'base.html.twig' %}

{% block title %}Cours n°{{ cours.id }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}
            {% embed "user/_card.html.twig" with {card_header:1} %}
                {% block header %}<b>
                    Cours n°{{ cours.id }} {% if not cours.statut %} <span
                        class="badge badge-danger">Annulé</span>{% endif %}
                    </b>
                {% endblock %}
                {% block text %}
                    <h5>
                        {% if is_exam(cours) %}
                            <span class="badge badge-danger">Examen</span>
                        {% endif %}
                        <u>{{ cours.matiere.intitule }} en {{ cours.salle.numero }}</u>
                    </h5>
                    animé par :
                    <b>{{ cours.professeur.prenom|capitalize }} {{ cours.professeur.nom|upper }}</b> au groupe {{ cours.groupe.nom|upper }}
                    <br>
                    <small><i>le {{ cours.debut ? cours.debut|date('d-m-Y') : '' }}</i></small><br>
                    <small>de {{ cours.debut ? cours.debut|date('H:i:s') : '' }}
                        à {{ cours.fin ? cours.fin|date('H:i:s') : '' }}</small>
                    <div class="form-group mt-2">
                        <label for="devoirs">Devoirs : </label>
                        <textarea class="form-control" id="devoirs" rows="5" readonly>{{ cours.devoirs }}
                        </textarea>
                    </div>

                    <a class="btn btn-warning mt-2" href="{{ path("personne_index") }}">Retour à l'accueil</a>
                    {% if is_granted("ROLE_PROF") %}
                        <a class="btn btn-outline-primary mt-2" href="{{ path("prof_cours_edit", {id: cours.id})  }}">Saisir les devoirs
                            & absents</a>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}


