{% extends 'base.html.twig' %}

{% block title %}Absences de {{ app.user.prenom|capitalize ~ " " ~ app.user.nom|upper }}{% endblock %}
{% block body %}
    {% embed "user/_navbar.html.twig" %}
    {% endembed %}
    {% embed "user/_container.html.twig" %}
        {% block container %}

            {% embed "user/_card.html.twig" with {card_header:1} %}
                {% block header %}<b>Absences de {{ app.user.prenom|capitalize ~ " " ~ app.user.nom|upper }}</b>
                {% endblock %}
                {% block text %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Cours</th>
                                <th>Date</th>
                                <th>Justifiée</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for absence in absences %}
                                <tr>
                                    <td>{{ absence.cours }}</td>
                                    <td>{{ absence.cours.debut|date('d-m-Y') }}</td>
                                    <td>{% if absence.statut %}
                                            <i class="far fa-check-square"></i>
                                        {% else %}
                                            <i class="far fa-square"></i>
                                        {% endif %}

                                    </td>
                                    <td><a href="{{ path("eleve_absence_edit", {id: absence.id}) }}">Justifier</a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Pas d'absences.</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-warning" href="{{ path("personne_index") }}">Retourner à l'accueil</a>
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}



