{% extends 'base.html.twig' %}

{% block title %}Absence{% endblock %}

{% block body %}
    <h1>Absence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ absence.motif }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ absence.statut ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('absence_index') }}">back to list</a>

    <a href="{{ path('absence_edit', {'id': absence.id}) }}">edit</a>

    {{ include('absence/_delete_form.html.twig') }}
{% endblock %}
