<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand" href="{{ path('security_post_login') }}">{% block nav_brand %}<i
                class="fas fa-compass"></i>{% endblock %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% block nav_items %}
                {% for name,route in app.user.items %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(route) }}">{{ name }}</a>
                    </li>
                {% endfor %}
                {% for name,items in app.user.dropdowns %}
                    {% set id = random() %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ id }}" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ id }}">
                            {% for item,route in items %}
                                <a class="dropdown-item" href="{{ path(route) }}">{{ item }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            {% endblock %}
        </ul>
        {% if not app.user.profilePicturePath is null %}
            {% set image = get_param("profile_pictures") ~ asset(app.user.profilePicturePath) %}
        {% else %}
            {% set image = asset("uploads/images/profile_pictures/user-circle.svg") %}
        {% endif %}
        {% if is_granted('ROLE_ELEVE') %}
            {% set path = path("eleve_settings") %}
        {% elseif is_granted("ROLE_PROF") %}
            {% set path = path("prof_settings") %}
        {% endif %}
        <span class="mx-lg-2 mx-0">
            <a class="text-muted nav-link p-1" href="{{ path }}">
                <i class="fas fa-cog"></i>
                {{ app.user.prenom|capitalize ~ " " ~ app.user.nom|upper }}
                <img src="{{ image|imagine_filter("my_fixed_filter") }}"
                     alt="userpic"
                     class="rounded-circle mx-1 shadow-lg"
                     style="width: 2rem; vertical-align: -10px">
            </a>
        </span>

        <form class="form-inline" action="{{ path('security_logout') }}">
            <button class="btn btn-danger my-sm-0" type="submit">Logout</button>
        </form>
    </div>
</nav>

{% block javascripts %}
    <script src="https://kit.fontawesome.com/03b0271aa1.js" crossorigin="anonymous"></script>
{% endblock %}